.introSection {
    composes: introSection from global;
    background-color: rgba(255, 255, 255, 0.582);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    & h1,
    & p {
        color: black;
    }
}

.contactForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
    margin: auto;

    & input,
    & textarea,
    & button {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
}
