.flagsSection {
    margin: 40px 40px 20px 40px;
    align-items: center;

    & h2 {
        margin-top: 125px;
        color: white;
        font-size: 2em;
    }

    & p {
        color: white;
        font-size: 1em;
    }

    & .flags {
        margin: 50px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 150px;
        background: none;

        & .flag {
            text-align: center;
            color: #fff;
            position: relative;
            overflow: hidden;

            & p {
                font-size: 2em;
            }

            & .overview {
                background-color: white;
                color: black;
                padding: 2em;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                max-height: 100%;
                transform: translateY(101%);
                transition: transform .5s;
            }

            &:hover .overview {
                transform: translateY(0);
            }
        }
    }
}
