.bottomFooter {
    font-size: 0.8em;
    background-color: #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.footerContainer {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 30px 20px;
    border-top: 2px solid #ccc;
}

.bottomFooterContainer {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    vertical-align: middle;
    height: 5rem;
}

.footerSection {
    flex: 1;
    margin: 0 10px;
    text-align: left;

    & h3 {
        margin-bottom: 15px;
        font-weight: bold;
        text-align: left;
    }

    & ul {
        list-style-type: none;
        padding: 0;
        text-align: left;

        & li {
            margin: 15px 0;
            text-align: left;
        }
    }

    & a {
        text-decoration: none;
        color: #000;
        text-align: left;
    }

    & .socialIcons {
        display: flex;
        gap: 5px;

        & a {
            margin-right: 15px;
            font-size: 30px;
            color: #000;
            transition: color 0.3s;
        }

        & a:hover {
            color: #d2b48c;
        }

        & i {
            transition: transform 0.3s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

.footer-section img:hover {
    transform: scale(1.1);
}

.footerText {
    font-size: 0.875rem;
    color: #6b7280;
    text-align: center;
}

.footerLinks {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 0.75rem; /* mt-3 */
    font-size: 0.875rem; /* text-sm */
    font-weight: 500; /* font-medium */
    color: #6b7280; /* text-gray-500 */
    justify-content: center;
}

.footerLink {
    margin-right: 5rem; /* mr-8 */
}
