.introSection {
    composes: introSection from global;

    & h1 {
        font-size: 2.5em;
        margin-bottom: 20px;
        color: white;
        word-wrap: break-word;
        text-align: center;
        max-width: 100%;
        line-height: 1.2;
    }


    & .features {
        display: flex;
        justify-content: center;
        gap: 50px;
        background: none;

        & .feature {
            text-align: center;
            color: #fff;
        }
    }
}
