.menuSection {
    margin: 40px 40px 20px 40px;
    text-align: center;

    & h2 {
        margin-top: 125px;
        color: white;
        font-size: 2em;
    }

    & p {
        color: white;
        font-size: 1em;
        margin-bottom: 25px;
    }

}

.menuGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 20px;
}

.menuCard {
    position: relative;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
    min-height: 400px;

    & h3 {
        font-size: 1.5em;
        margin: 10px 0;
    }

    & p {
        font-size: 0.9em;
        color: #555;
    }

    & .img {
        width: 100%;
        height: 250px;
    }

    & .animatedBg {
        background-image: linear-gradient(
                to right,
                #f6f7f8 0%,
                #edeef1 20%,
                #f6f7f8 40%,
                #f6f7f8 100%
        );
        background-size: 200% 100%;
        border-radius: 5px;
        animation: bgPos 1s linear infinite;
    }

    & .animatedBgText {
        border-radius: 5px;
        display: inline-block;
        margin: 0;
        height: 10px;
        width: 100%;
    }
}

@keyframes bgPos {
    0% {
        background-position: 50% 0;
    }
    100% {
        background-position: -150% 0;
    }
}
.priceTag {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.menuImage {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.buttonOrder {
    display: block;
    width: 50%;
    padding: 10px 0;
    margin: 10px auto 0;
    background-color: #a0a47e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.buttonViewAll {
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #a0a47e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.buttonOrder:hover,
.buttonViewAll:hover,
.buttonOrderNow:hover {
    background-color: #d2b48c;
    transform: translateY(-2px);
}
