.reservationContainer {
    background-color: #ffffffc4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc(20%);

    & h2 {
        text-align: center;
        margin-right: 20px;
        align-content: center;
    }

    & form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: auto;
        column-gap: 50px;
    }

    & input[type="date"],
    & select {
        flex: 1;
        margin: 0 10px 0 0;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    & button {
        background-color: #a0a47e;
        color: #fff;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;

        &:hover {
            background-color: #45a049;
        }
    }
}

.buttonBookNow {
    width: 150px;
    font-size: 0.9em;
}

@media (max-width: 768px) {
    .reservationContainer select {
        max-width: 100%;
        flex-basis: 100%;
    }
}

