.specialOffer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: #f0f0f0b4;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 40px 0;
}

.offerText {
    max-width: 50%;

    & h3 {
        font-size: 1.5em;
        margin-bottom: 10px;
        font-weight: normal;
    }

    & h1 {
        font-size: 3em;
        margin: 10px 0;
        font-weight: bold;
    }

    & p {
        font-size: 1em;
        color: #555;
        margin: 10px 0;
    }
}

.buttonOrderNow {
    display: inline-block;
    padding: 10px 20px;
    background-color: #a0a47e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-weight: bold;
}

.offerImage {
    max-width: 40%;
    transform: translateX(-100px);
}

/*.offer-image img {*/
/*    width: 700px;*/
/*    height: 250px;*/
/*    object-fit: cover;*/
/*    border-radius: 10px;*/
/*}*/