.whyChooseUs {
    text-align: center;
    padding: 40px;
    background-color: #f8f8f8;

    & h2 {
        font-size: 2em;
        margin-bottom: 20px;
        font-weight: bold;
    }
}

.iconsGrid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.iconItem {
    text-align: center;
    font-size: 1.2em;

    & i {
        font-size: 3em;
        margin-bottom: 10px;
        color: #000;
    }

    & p {
        margin-top: 10px;
        font-size: 1em;
        color: #333;
    }
}